.experience__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, auto));
  gap: 2rem;
}

.experience__details {
  background-color: var(--color-primary);
  padding: 1.2rem;
  border-radius: 1rem;
  transition: var(--transition_form);
  transform: rotate(8deg);
}

.experience__details:hover {
  transform: rotate(0);
}

.experience__details p,
small {
  font-weight: 800;
  margin-top: 1.2rem;
}

.i {
  font-size: 2.5rem;
}

/* MEDIA QUERIES (MEDIUM DEVICES) */

@media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
  }

  .experience__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  /* .experience__content {
    padding: 1rem;
  } */
}

/* MEDIA QUERIES (SMALL DEVICES) */

@media screen and (max-width: 600px) {
  .experience__container {
    gap: 1rem;
  }
  .experience__container > div {
    width: 100%;
    padding: 2rem 1rem;
  }
}
